// Specific CSS for your home-page
body {
  position: relative;
  min-height: 100vh;
}

.card-categories {
  display: flex;
  flex-direction: column;

  button {
    padding: 50px;
    margin: 8px 15px;
    border: 0;
    background-size: cover;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background-color: #01DF85;
    border-radius: 5px;
  }

  button:hover {
    margin: 8px 22px;
    transition: 0.5s;
  }

  button a {
    color:white;
    border-radius: 25px;
    padding: 8px;
    font-weight: bold;
    background-color: #01DF85;
    text-decoration: none !important;
  }

  .veg-pic {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url('img-vegan.jpg');
    p {

      background-color: #01DF85;
      color:white;
      border-radius: 25px;
      padding: 8px;
      font-weight: bold;
      width: 100px;
    }
  }

  .cel-pic {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url('img-celiac.jpg');
  }

  .dia-pic {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url('img-diabetic.png');
  }
  
}

