.seller-orders {

  padding: 30px;
  margin: 8px 15px;
  border: 1px solid grey;
  background-size: cover;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  }

h4 {
  padding: 20px;
}
