<div class="new_container text-center">
  <h1>Tell us about your car</h1>
  <p>Enter the following informations</p>

<!-- Form generation -->
  <div class="new_forms">
    <%= simple_form_for(@delivery_schedule) do |f| %>
      <div class="new_form">
        <p><%= f.input :day, collection: ["monday", "tuesday", "wednesday", "thursday", "friday"] %></p>
      </div>
      <!-- <div class="insert_car">-->
      <!-- </div> -->
        <p><%= f.submit "create", class: "insert_car" %></p>
    <% end %>
  </div>

</div>