<div class="new_container text-center">

<!-- Form generation -->
  <div class="new_forms">
    <%= simple_form_for(@delivery_schedule) do |f| %>
      <div class="new_form">
        <p><%= f.input :day, as: :radio_buttons, collection: ["monday", "tuesday", "wednesday", "thursday", "friday"] %></p>
      </div>
      <!-- <div class="insert_car">-->
      <!-- </div> -->
        <p><%= f.submit "next", class: "seller" %></p>
    <% end %>
  </div>

</div>
