<div class="mt-3 footer-container">
  <div class="footer container">
<!-- https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer -->
    <div class="copyright">
      <small>Copyright 2020 SafeFood©</small>
    </div>

    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>

  </div>
</div>

