<div style="margin-bottom: 50px">
  <div class="restaurant-banner text-center p-3 bg-light mb-3 mt-3">
    <h1 class="h3 pt-3 pb-0">Your meals</h1>
  </div>
  <%unless user_signed_in?%>
  <h1 class="text-center call-to-action">Browse through our wonderful selection of foods!</h1>
  <%end%>

  <div class="cards">
    <% @meals.each do |meal| %>
      <%= link_to meal, class: "card-product" do %>
        <div class="card-product-image">
          <%= cl_image_tag(meal.photo.key, crop: :fill, width: 100, height: 100) %>
        </div>  
        <div class="card-product-infos">
          <h2><%= meal.name %></h2>
          <p>$ <%= meal.offer_price %>,00 </p>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
