
.cards-meals {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  padding: 8px;
}

.layout-background {
  background-image: linear-gradient(rgba(255,255,255,1), rgba(0,0,0,0)), asset-url('food-background.jpg');
  background-size: cover;
  height: 100vh;
}



.card {
  //remove asset-url once the cards will be sent here from the controller

  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 1px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

@media(max-width: 992px) {
  .cards-meals {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards-meals {
    grid-template-columns: 1fr 1fr;
  }
}
